body {
  color: black;
  margin: 0;
  box-sizing: border-box;
  background-image: url('https://images3.alphacoders.com/812/812062.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
